body {
  margin: 0;
  font-family: 'Roboto';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

:root {
  height: 100vh;
  width: 100vw;
}

.application {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
}
